.message-footer{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding-right: 5vw;
    padding-top: 5px;
    width: 15vw;
    justify-content: space-between;
}

.message-footer-link {
    display: flex;
    align-items: middle;
    text-decoration: none;
    padding: 5px;
}

.message-footer-label {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}