* {
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    color: #656464;
}

.session-nav {
    list-style: none;
    display: flex;
    max-width: 1230px;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    color: #656464;
    margin: 0 auto;
    font-size: 0.9rem;
}

.session-nav :hover{
    color: black;
    cursor: pointer;
}


.logo-pic {
    height: 25px;
}

.signin-button {
    margin-left: 40%;
    text-decoration: none;
    color: #656464;
}

.signin-button:hover{
    color: #84528a;
}

.getstarted-button {
    text-decoration: none;
    color: white;
    background-color: #611f69;
    font-weight: 425;
    padding: .75rem 1rem;
    border-radius: 4px;
    font-size: .875rem;
    letter-spacing: 1px;
}

.getstarted-button:hover {
    color: white;
    background-color: #410b48;
}


.logo {
    width: 150px;
    text-transform: lowercase;
}

.logo {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 25px;
}

.workspaces-link{
    margin-left: 40%;
}

.workspaces-button {
    font-size: 1rem;
    box-shadow: none;
    border: 2px solid #611f69;
    color: #fff;
    background: #611f69;
    border-radius: 4px;
    text-align: center; 
    letter-spacing: 1px;
    padding: .75rem 1rem;
    font-weight: 200;
    outline: 0;
}

.workspaces-button:hover{
    color: white;
    background-color: #410b48;
}

.navbar-link {
    text-decoration: none;
}