.form-container {
    width: 1024px;
    margin: 0 auto;
}

.session-container{
    width: 66%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2rem 0.5rem 1rem;
}

.background{
    border-top: 1px solid #ddd;
    width: 100%;
    height: calc(100% - 70px - 4rem);
    min-height: 670px;
    position: absolute;
    top: 70px;
    bottom: 0;
    background-color: #f8f8f8;
    padding-top: 58px;
}

.session-form-desc, .session-form-desc > b {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.session-form-desc > b {
    font-weight: 700;
}

.session-form-header{
    color: black;
    font-family: 'Lato', sans-serif;   
    line-height: 2.5rem;
    letter-spacing: -1px;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.session-form-input {
    font-size: 1.25rem;
    line-height: normal;
    padding: .75rem 10px;
    border: 1px solid #868686;
    border-radius: .25rem;
    margin: 0 auto 10px;
    width: 100%;
    color: black;
    font-weight: 300;
    box-sizing: border-box;
}

.session-form{
    width:100%;
    align-items: center;
}

.inner-form-container {
    width: 70%;
}

.session-form-input:focus{
    border: 1px solid black;
    outline: 0;
}

.errors > li {
    list-style: none;
    color: black;
}

.errors {
    width: 66%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem 0.5rem 1rem;
    border-left: 1px solid #e01e5a;
    border-left-width: 5px;
    display: flex; 
} 

.fas {
    margin-right: 5px;
}

.session-submit-button {
    font-size: 1.25rem;
    line-height: normal;
    padding: .75rem;
    background-color: #007a5a;
    border-radius: .25rem;
    margin: 0 auto 10px;
    width: 100%;
    color: white;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    outline: 0;

}

.session-submit-button:hover {
    box-shadow: 1px 1px 2px #868686;
}