.splash-footer {
    position: fixed;
    left: 0;
    bottom: 0rem;
    height: 4rem;
    width: 100vw;
    border-top: 2px solid lightgray;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    z-index: 100000000;
    background: white;
}

.footer-link {
    display:flex;
    align-items: middle;
    padding: 5px;
}

.footer-link:hover {
    border-radius: 50%;
}

.splash-footer * {
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.splash-icon {
    height: 3rem;
    width: 3rem;
    transition: .5s ease; 
}

.splash-container{
    position: relative;
}

.splash-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    z-index: 1000;
}

.splash-container:hover .splash-overlay{
    opacity: 1;
}

.splash-container:hover .splash-icon{
    opacity: 0.25;
}

.footer-label {
    font-size: 25px;
    position: absolute; 
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

